<div style="font-size: 14px;">
  <p>Uma nova troca zero hora foi adicionada ao sistema. Favor verificar a veracidade dos dados abaixo e, se necessário,
    efetuar a geração do crédito ao cliente.</p>

  <table style="border: 1px solid black; border-collapse: collapse;">
    <tr>
      <td style="border: 1px solid black; padding: 0 5px;"><strong>ID</strong></td>
      <td style="border: 1px solid black; padding: 0 5px;">{{id}}</td>
    </tr>

    <tr>
      <td style="border: 1px solid black; padding: 0 5px;"><strong>Cliente</strong></td>
      <td style="border: 1px solid black; padding: 0 5px;">{{client}}</td>
    </tr style="padding: 0 5px">

    <tr>
      <td style="border: 1px solid black; padding: 0 5px;"><strong>Produto</strong></td>
      <td style="border: 1px solid black; padding: 0 5px;">{{product}}</td>
    </tr>

    <tr>
      <td style="border: 1px solid black; padding: 0 5px;"><strong>Data da troca</strong></td>
      <td style="border: 1px solid black; padding: 0 5px;">{{currentDate}}</td>
    </tr>
  </table>

  <br />

  <strong>**Lembre-se de fazer a entrada do produto em questão no estoque de garantias!</strong>

  <p>Caso esteja tudo de acordo e o crédito seja gerado, não esqueça de avisar o representante para
    que o mesmo possa repassar a informação ao cliente.</p>
</div>
