<p>Olá, {{ name }}!</p>

<p>Recentemente foi feito uma tentativa de recuperação de senha para esta conta.</p>

<p>Segue abaixo o seu link de recuperação:</p>

<p><strong>http://localhost/trocar_senha/{{ token }}</strong></p>

<p>Caso você não tenha feito esta solicitação, é aconselhável que faça a alteração de sua senha atual e desconsidere
  este e-mail!</p>
